<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="canonical" href="https://getbootstrap.jp/docs/5.3/examples/sign-in/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
    .shinki_main{
    width:800px;
    margin-left:400px;


    }




    </style>


</head>
<body>



  <div class="shinki_main">
<form action="/shinki_input" method="POST">

      <input type="text" name="t1" class="form-control" placeholder="ユーザー名を入れてください" size="200">
    <br>
      <input type="password" name="t2" class="form-control" placeholder="パスワードを入れてください" size="200">
    <br>
      <input type="password" name="t3" class="form-control" placeholder="メールアドレスを入れてください" size="200">

    <button class="btn btn-primary" id="b1" type="submit">検索</button>

</form>
  </div>

</body>
</html>